<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<h4>
  <%= t('.text') %>
  <span class="test_passage_<%= result_color(@test_passage) %>">
    <%= @test_passage.result_percent %> %
  </span>
</h4>
