<h1>Tests</h1>
<div>
  <table border="1" cellpadding="5">
    <tr>
      <h4>
        <th>Id</th>
        <th>Title</th>
        <th>Questions</th>
        <th>Action</th>
      </h4>
    </tr>
    <%= render @tests %>
  </table>
  <h4><%= link_to 'Create a new Test', new_admin_test_path %></h4>
</div>

