<tr>
  <td scope="row"><%= test.title %></td>
  <td><%= test.id %></td>
  <td><%= test.questions.count %></td>
  <td>
    <%= button_to t('tests._test.button'), start_test_path(test), class: 'btn btn-success' %>
  </td>
</tr>
