<h1><%= I18n.t('tests.index.header') %></h1>
<div>
  <table border="1" cellpadding="5">
    <tr>
      <h4>
        <th>Id</th>
        <th>Title</th>
        <th>Questions</th>
        <th>Action</th>
      </h4>
    </tr>
    <%= render @tests %>
  </table>
</div>

