<h4><%= year_now %></h4>
<h3>
  Student of
  <%= link_to 'Thinknetica school', 'https://www.thinknetica.com', target: :_blank %>:
  <br>Karimov Timur [TimmyMT]
</h3>
<h4>Project is a Test Guru <%= author_repo('TimmyMT', 'test_guru') %></h4>
